@import "partials/mixins";
@import "partials/params";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

html, body{
    @include clear;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, p{
    @include clear;
}
a{
    text-decoration: none;
}
.view-port{
    width: $view-port;
    margin: 0 auto;
}
.wrapper{
    background-color: $main-bg-color;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}
.first-screen{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh; // высота открытого окна клиента
}