// Цвета. Раздел Тарифов
$c-yeloow: #f9d423;
$c-grey: #7f8c8d;
$c-red: #ff1c1c;
$c-cyan: #1abc9c;
// Цвета. Иконки
$c-blue: #0faff1;
$c-orange: #f1540f;
// Цвета. Фон Футера
$footer-bg-color: #2a2a2a;
// Другие цвета
$c-white: #ffffff;
$main-bg-color: #000000;
$buy-border-color: #d9d9d9;
$buy-tablecell-color: #b3b3b3;
// Размеры модулей
$nav-height: 60px; //Высота меню
$view-port: 1200px; //Ширина контента
$auth-height: 70px; //Высота блока авторизации